<div class="jumbotron">
</div>
<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
       </div>
      </div>
      <!-- Brand and toggle get grouped for better mobile display -->


      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to t(:home), static_pages_home_path %></li>
          <li><%= link_to t(:about_us), static_pages_about_us_path %></li>
          <li><%= link_to t(:donate), static_pages_donate_path %></a></li>
          <li><%= link_to t(:projects), static_pages_projects_path %></a></li>
          <li><%= link_to t(:collections), static_pages_collections_path %></a></li>
          <li><%= link_to t(:annual_report), static_pages_annual_report_path %></a></li>
          <li><%= link_to t(:book_store), static_pages_book_store_path %></a></li>
          <li><%= link_to t(:contact_us), static_pages_contact_us_path %></a></a></li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t(:navl1), t(:navl2) %></li>
        </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>
